﻿@model Domain.Concrete.Schema.HR.EditRoleViewModel

<h3>Edit User</h3>
<form asp-action="Edit" method="post">
    <div asp-validation-summary="All">
    </div>
    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div>
        <button class="btn btn-success mt-5">Update</button>
        <a asp-action="List" class="btn btn-secondary mt-5">Return</a>
    </div>
</form>