﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BootCampManagement.EndPoint.MVCApp.Controllers.AuthenticationIdentityController
<form method="post" asp-action="PostLogIN" asp-controller="AuthenticationIdentity">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input type="text" asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input type="text" asp-for="Password" class="form-control" />
    </div>
    <hr />
    <button class="btn btn-success">Login</button>
</form>