﻿@model Domain.Concrete.Schema.HR.myTransaction

@{
    ViewData["Title"] = "CreateTransaction";
}
<h2>Create Financial Account</h2>

<form method="post" asp-controller="Transaction" asp-action="Create" onsubmit="submitForm(); return false;">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="SourceFinancialAccountID">Source Financial Account ID:</label>
        <input type="number" asp-for="SourceFinancialAccountID" class="form-control" />
        <span asp-validation-for="SourceFinancialAccountID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TransactionType_CategoryID">TransactionType Category ID : </label>
        <input type="number" asp-for="TransactionType_CategoryID" class="form-control" />
        <span asp-validation-for="TransactionType_CategoryID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Amount">Amount:</label>
        <input asp-for="Amount" type="number" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Description">Description:</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-5">Save</button>
</form>


<script>
    function submitForm() {
        const form = document.querySelector('form');
        const formData = new FormData(form);
        const jsonData = JSON.stringify(Object.fromEntries(formData));

        fetch('/Transaction/Create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: jsonData
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Network response was not ok.');
                    alert('.شکست عملیات . مقادیر را بررسی کنید')

                }
            })
            .then(data => {
                alert('اطلاعات با موفقیت ثبت شد');
                window.location.href = '/Transaction/TransactionList'
            })
            .catch(error => {
                console.error('Error:', error);
                alert('.شکست عملیات . مقادیر را بررسی کنید')

            });
    }
</script>