﻿@using Microsoft.EntityFrameworkCore.Metadata.Internal
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* @model Domain.Concrete.Schema.HR.myTransaction
 *@<div class="d-flex align-items-start justify-content-center" style="height: 50vh">
    <table class="table" style="width: 1000px " dir="rtl">
        <thead>
            <tr>
                <td scope="col">ID</td>
                <th scope="col">SourceFinancialAccountID</th>
                <th scope="col">TransactionType_CategoryID</th>
                <th scope="col">Amount</th>
                <th scope="col">Description</th>
                <th scope="col">CreateDateTime</th>


            </tr>
        </thead>
        <tbody>

            @foreach (var FA in Model)
            {

                <tr>
                    <td>@FA.ID</td>
                    <td>@FA.SourceFinancialAccountID</td>
                    <td>@FA.TransactionType_CategoryID</td>
                    <td>@FA.Amount</td>
                    <td>@FA.Description</td>
                    <td>@FA.TransactionDateTime</td>
                    <td>
                        <button type="button" asp-page="" class="btn btn-danger" onclick="deleteGender(@FA.ID) ">حذف</button>
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>

<<script>
   
     function deleteGender(code) {
         if (confirm("آیا از حذف این  مطمئن هستید؟")) {
             fetch(`/Transaction/Delete/${code}`, {
                 method: 'DELETE',
                 headers: {
                     'Content-Type': 'application/json',
                 },
             })
                 .then(response => response.json())
                 .then(data => {
                     if (data.success) {
                         alert('حذف موفق');
                         location.reload();
                     } else {
                         alert('شکست در حذف');
                     }
                 })
                 .catch((error) => {
                     console.error('Error:', error);
                 });
         }
     }
</script>