﻿@model Domain.Concrete.Schema.HR.FinancialAccount

@{
    ViewData["Title"] = "Create Financial Account";
}

<h2>Create Financial Account</h2>

<form method="post" asp-controller="FinancialAccount" asp-action="CreateFA" onsubmit="submitForm(); return false;">

    <div  class="form-group">
        @if (User.IsInRole("User"))
        {
            var userId = User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

            <input type="hidden" asp-for="AccountID" value="@userId" class="form-control" />
        }
        else if(User.IsInRole("Admin"))
        {
            <label asp-for="AccountNumber">Account ID:</label>
            <input  asp-for="AccountID"  class="form-control" />
        }
    </div>

    <div class="form-group">
        <label asp-for="AccountNumber">Account Number:</label>
        <input asp-for="AccountNumber" class="form-control"  />
        <span asp-validation-for="AccountNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CardNumber">Card Number:</label>
        <input asp-for="CardNumber" class="form-control" />
        <span asp-validation-for="CardNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CardExpireDate">Card Expiry Date:</label>
        <input asp-for="CardExpireDate" type="date" class="form-control"  />
        <span asp-validation-for="CardExpireDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BankName">Bank Name:</label>
        <input asp-for="BankName" class="form-control" />
        <span asp-validation-for="BankName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Balance">Balance:</label>
        <input asp-for="Balance" type="number" class="form-control"  />
        <span asp-validation-for="Balance" class="text-danger"></span>
    </div>

    @* <div class="form-group">
        <label asp-for="Icon">Icon:</label>
        <input asp-for="Icon" type="file" class="form-control" />
        <span asp-validation-for="Icon" class="text-danger"></span>
    </div> *@

    <div class="form-group">
        <label asp-for="Description">Description:</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button  type="submit" class="btn btn-primary mt-5">Save</button>
</form>


<script>
    function submitForm() {
        const form = document.querySelector('form');
        const formData = new FormData(form);
        const jsonData = JSON.stringify(Object.fromEntries(formData));

        fetch('/FinancialAccount/CreateFA', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: jsonData
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Network response was not ok.');
                    alert('.شکست عملیات . مقادیر را بررسی کنید')

                }
            })
            .then(data => {
               alert('اطلاعات با موفقیت ثبت شد');
                window.location.href = '/FinancialAccount/FinancialAccountList';
            })
            .catch(error => {
                console.error('Error:', error);
                alert('.شکست عملیات . مقادیر را بررسی کنید')

            });
    }
</script>