﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="d-flex align-items-start justify-content-center" style="height: 50vh">
    <table class="table" style="width: 1000px " dir="rtl">
        <thead>
            <tr>
                <td scope="col">ID</td>
                <th scope="col">AccountID</th>
                <th scope="col">AccountNumber</th>
                <th scope="col">CardNumber</th>
                <th scope="col">CardExpireDate</th>
                <th scope="col">BankName</th>
                <th scope="col">Balance</th>
@*                 <th scope="col">Icon</th>
 *@                <th scope="col">Description</th>
                <th scope="col">CreateDateTime</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var FA in Model)
            {

                <tr>
                    <td>@FA.ID</td>
                    <td>@FA.AccountID</td>
                    <td>@FA.AccountNumber</td>
                    <td>@FA.CardNumber</td>
                    <td>@FA.CardExpireDate</td>
                    <td>@FA.BankName</td>
                    <td>@FA.Balance</td>
@*                     <td>@FA.Icon</td>
 *@                    <td>@FA.Description</td>
                    <td>@FA.CreateDateTime</td>

                    <td>
                        <button type="button" asp-page="" class="btn btn-danger" onclick="deleteGender(@FA.ID) ">حذف</button>
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>

<<script>
     function deleteGender(id) {
         console.log(id)
         if (confirm("آیا از حذف این  مطمئن هستید؟")) {
             fetch(`/FinancialAccount/Delete/${id}`, {
                 method: 'DELETE',
                 headers: {
                     'Content-Type': 'application/json',
                 },
             })
                 .then(response => response.json())
                 .then(data => {
                     if (data.success) {
                         alert('حذف موفق');
                         location.reload();
                     } else {
                         alert('شکست در حذف');
                     }
                 })
                 .catch((error) => {
                     console.error('Error:', error);
                 });
         }
     }
</script>