﻿@model Domain.Concrete.Schema.HR.TransactionType_Category

@{
    ViewData["Title"] = "Create TransactionType_Category";
}
<h2>Create TransactionType_Category</h2>

<form method="post" asp-controller="TransactionType_Category" asp-action="Create" onsubmit="submitForm(); return false;">
   

    <div class="form-group">
        <label asp-for="CategoryID">CategoryID : </label>
        <input type="number" asp-for="CategoryID" class="form-control" />
        <span asp-validation-for="CategoryID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TransactionTypeCode">TransactionTypeCode: </label>
        <input type="number" asp-for="TransactionTypeCode" class="form-control" />
        <span asp-validation-for="TransactionTypeCode" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-5">Save</button>
</form>


<script>
    function submitForm() {
        const form = document.querySelector('form');
        const formData = new FormData(form);
        const jsonData = JSON.stringify(Object.fromEntries(formData));

        fetch('/TransactionType_Category/Create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: jsonData
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Network response was not ok.');
                    alert('.شکست عملیات . مقادیر را بررسی کنید')

                }
            })
            .then(data => {
                alert('اطلاعات با موفقیت ثبت شد');
                window.location.href = '/TransactionType_Category/CreateTransactionTypeCategory'
            })
            .catch(error => {
                console.error('Error:', error);
                alert('.شکست عملیات . مقادیر را بررسی کنید')

            });
    }
</script>