﻿@{
}

<div class="d-flex flex-column justify-content-center align-content-center">
    @if (User.Identity.IsAuthenticated)
    {
       
        <div class="d-flex flex-row justify-content-center align-content-center mt-5">
            <h1>سلام @User.Identity.Name</h1>
        </div>

    }
    else
    {
        <div class="d-flex flex-row justify-content-center align-content-center mt-5 gap-5 ">
            <a href="/AuthenticationIdentity/LogIN" class="btn btn-danger">Log In</a>
            <a href="/AccountIdentity/CreateUser" class="btn btn-success">Create Account</a>
        </div>
        <div class="d-flex flex-row justify-content-center align-content-center mt-5">
            <h1>مشخصات برای لاگین</h1>
        </div>
        <div class="d-flex flex-row justify-content-center align-content-center mt-5">
           <table class="table table-bordered table-striped">
                <tr>
                    <td>Number</td>
                    <td>UserName</td>
                    <td>Passdword</td>
                    <td>Role</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Ali</td>
                    <td>Ali123#</td>
                    <td>Admin</td>
                </tr>
                 <tr>
                    <td>2</td>
                    <td>Hossein</td>
                    <td>Hossain123#</td>
                    <td>User</td>
                </tr>
           </table>
            
        </div>
        

    }
</div>



















@* <button type="submit" asp-action="LogIN" asp-controller="AuthenticationIdentity">
    LogIn
</button>
<button type="submit" asp-action="CreateUser" asp-controller="AccountIdentity">
    Create Acc *@
@* <div class="d-flex align-items-center justify-content-center" style="height: 90vh">
    <div class="rounded border border-primary d-inline-flex align-items-center justify-content-center" style="width: 350px; height: 400px">
        <form id="genderForm" >
            <div class="mb-3">
                <label for="exampleInputCode" class="form-label">Code</label>
                <input type="number" min="1" max="1000" class="form-control" id="exampleInputCode" name="Code" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="InputEn" class="form-label">TitleEn</label>
                <input type="text" class="form-control" id="InputEn" name="TitleEn">
            </div>
            <div class="mb-3">
                <label for="InputFa" class="form-label">TitleFa</label>
                <input type="text" class="form-control" id="InputFa" name="TitleFa">
            </div>
            <button type="button" class="btn btn-primary" onclick="submitForm()">Submit</button>
        </form>
    </div>
</div>
<script>
    function submitForm() {
        var formData = {
            Code: $('#exampleInputCode').val(),
            TitleEn: $('#InputEn').val(),
            TitleFa: $('#InputFa').val()
        };

        $.ajax({
            url: '/Gender/Create', 
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            success: function (result) {
                console.log('Data submitted successfully:', result);
            },
            error: function (error) {
                console.error('Error submitting data:', error);
            }
        });
    }
</script> *@

