﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BootCampManagement.EndPoint.MVCApp.Controllers.AccountIdentityController

<form method="post" asp-action="PostLogIN" asp-controller="AuthenticationIdentity">
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input type="text" class="form-control" asp-for="UserName" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input type="text" class="form-control" asp-for="Email" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input type="text" class="form-control" asp-for="Password" />
    </div>
    <div class="py-2">
        <button type="submit" class="btn btn-primary">Create</button>
        <a href="/AccountIdentity/UserList" class="btn btn-secondary">Return</a>
    </div>
</form>