﻿
@* @model BootCampManagement.EndPoint.MVCApp.Controllers.AccountIdentityController
 *@ 
@{
}
@model dynamic
<h3>Manage User Roles</h3>

<table class="table table-striped table-bordered">
  
    <tr>

            <td>UserName</td>
            <td>@Model.UserName</td>
    </tr>
</table>
<hr />
<h3 class="text-bg-primary">User Roles</h3>
<form method="post" asp-action="PostUserRole" asp-controller="AccountIdentity">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" value="@Model.ID" name="Id" />
    @foreach (var item in Model.AllRole)
    {
        <input type="checkbox" name="Roles" checked="@Model.Roles.Contains(item.Name)" value="@item.Name">
        <label>@item.Name</label>
    }
    <div class="py-2">
        <button type="submit" class="btn btn-primary">Update Roles</button>
        <a asp-action="Userlist" class="btn btn-secondary">Return</a>
    </div>
</form>