﻿
@{
}
@model BootCampManagement.EndPoint.MVCApp.Controllers.AccountIdentityController
@{
}
<h3>Update User</h3>
<form method="post" asp-controller="AccountIdentity" asp-action="UserEdit">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input type="text" class="form-control" asp-for="UserName" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input type="text" class="form-control" asp-for="Password" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input type="text" class="form-control" asp-for="Email" />
    </div>
    <div class="py-2">
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="/AccountIdentity/UserList" class="btn btn-secondary">Return</a>
    </div>
</form>