﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* @model BootCampManagement.EndPoint.MVCApp.Controllers.AccountIdentityController
 *@<h3>Role List</h3>
<table class="table table-bordered table-striped">
    <tr>
        <td>Id</td>
        <td>UserName</td>
        <td>Email</td>
        <td>Edit</td>
        <td>Delete</td>
        <td>Manamge Roles</td>

    </tr>
    
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.UserName
                </td>
                <td>
                @item.Email
                </td>

                <td>
                            <a asp-controller="AccountIdentity" asp-action="UserEdit" asp-route-id="@item.Id" class="btn btn-info">Edit</a>
                </td>
                 <td>
                         <a type="submit" asp-controller="AccountIdentity" asp-action="DeleteUser" asp-route-id="@item.Id" class="btn btn-danger">Remove</a>
                </td>
                 <td>

                         <a  asp-controller="AccountIdentity" asp-action="ManageUserRole" asp-route-id="@item.Id" class="btn btn-success" >ManamgeRole</a>
                </td>

            </tr>
        }
    
   
       
   

</table>

<a  asp-action="CreateUser" class="btn btn-success">Create</a>