﻿@model Domain.Concrete.Schema.HR.TransactionType

@{
    ViewData["Title"] = "CreateType";
}
<h2>CreateType</h2>

<form method="post" asp-controller="TransactionType" asp-action="Create" onsubmit="submitForm(); return false;">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="Code">Code:</label>
        <input type="number" asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="TitleEn">TitleEn:</label>
        <textarea asp-for="TitleEn" class="form-control"></textarea>
        <span asp-validation-for="TitleEn" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TitleFa">TitleFa:</label>
        <textarea asp-for="TitleFa" class="form-control"></textarea>
        <span asp-validation-for="TitleFa" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary mt-5">Save</button>
</form>


<script>
    function submitForm() {
        const form = document.querySelector('form');
        const formData = new FormData(form);
        const jsonData = JSON.stringify(Object.fromEntries(formData));

        fetch('/TransactionType/Create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: jsonData
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Network response was not ok.');
                    alert('.شکست عملیات . مقادیر را بررسی کنید')

                }
            })
            .then(data => {
                alert('اطلاعات با موفقیت ثبت شد');
                window.location.href = '/TransactionType/TransactionTypeList'
            })
            .catch(error => {
                console.error('Error:', error);
                alert('.شکست عملیات . مقادیر را بررسی کنید')

            });
    }
</script>
