﻿
@{
}
@* @model Domain.Concrete.Schema.HR.TransactionType
 *@
<div class="d-flex align-items-start justify-content-center" style="height: 50vh">
    <table class="table" style="width: 1000px " dir="rtl">
        <thead>
            <tr>
                <td scope="col">Code</td>
                <th scope="col">TitleEn</th>
                <th scope="col">TitleFa</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var TT in Model)
            {

                <tr>
                    <td>@TT.Code</td>
                    <td>@TT.TitleEn</td>
                    <td>@TT.TitleFa</td>
                    <td>
                       <button type="button" asp-page="" class="btn btn-danger" onclick="deleteGender(@TT.Code) ">حذف</button>
                        @* <button type="button" asp-action="Delete" asp-controller="TransactionTypeController"  class="btn btn-danger"  >حذف</button> *@

                    </td>
                </tr>
            }

            
        </tbody>
    </table>
</div>

<script>
    function deleteGender(Code) {
        console.log(Code)
        if (confirm("آیا از حذف این  مطمئن هستید؟")) {
            fetch(`/TransactionType/Delete/${Code}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('حذف موفق');
                        location.reload();
                    } else {
                        alert('شکست در حذف');
                    }
                })
                .catch((error) => {
                    alert('شکست در حذف');
                    console.error('Error:', error);
                });
        }
    }

</script>