﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="d-flex align-items-start justify-content-center" style="height: 50vh">
    <table class="table" style="width: 1000px " dir="rtl">
        <thead>
            <tr>
                <td scope="col">ID</td>
                <th scope="col">ParentID</th>
                <th scope="col">TitleEn</th>
                <th scope="col">TitleFa</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var FA in Model)
           
            {


                <tr>
                    <td>@FA.ID</td>
                    <td>@FA.ParentID</td>
                    <td>@FA.TitleFa</td>
                    <td>@FA.TitleEn</td>
                    <td>@FA.Description</td>
                   
                    <td>
                        <button type="button" asp-page="" class="btn btn-danger" onclick="deleteGender(@FA.ID) ">حذف</button>
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>

<<script>
   
     function deleteGender(code) {
         if (confirm("آیا از حذف این  مطمئن هستید؟")) {
             fetch(`/Category/Delete/${code}`, {
                 method: 'DELETE',
                 headers: {
                     'Content-Type': 'application/json',
                 },
             })
                 .then(response => response.json())
                 .then(data => {
                     if (data.success) {
                         alert('حذف موفق');
                         location.reload();
                     } else {
                         alert('شکست در حذف');
                     }
                 })
                 .catch((error) => {
                     console.error('Error:', error);
                 });
         }
     }
</script>