﻿@model Domain.Concrete.Schema.HR.Category

@{
    ViewData["Title"] = "CreateCategory";
}
<h2>CreateCategory</h2>

<form method="post" asp-controller="Category" asp-action="Create" onsubmit="submitForm(); return false;">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="ParentID">ParentID:</label>
        <input type="number" asp-for="ParentID" class="form-control" />
        <span asp-validation-for="ParentID" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="TitleEn">TitleEn:</label>
        <textarea asp-for="TitleEn" class="form-control"></textarea>
        <span asp-validation-for="TitleEn" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TitleFa">TitleFa:</label>
        <textarea asp-for="TitleFa" class="form-control"></textarea>
        <span asp-validation-for="TitleFa" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description:</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-5">Save</button>
</form>


<script>
    function submitForm() {
        const form = document.querySelector('form');
        const formData = new FormData(form);

        const parentID = formData.get('ParentID');

        if (parentID !== "") {

            formData.set('ParentID', parentID);
        } else {
            formData.delete('ParentID');
        }

        const jsonData = JSON.stringify(Object.fromEntries(formData));

        fetch('/Category/Create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: jsonData
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Network response was not ok.');
                }
            })
            .then(data => {
                alert('اطلاعات با موفقیت ثبت شد');
                window.location.href = '/Category/CategoryList';
            })
            .catch(error => {
                console.error('Error:', error);
                alert('.شکست عملیات . مقادیر را بررسی کنید');
            });
    }
</script>
