﻿

@{
    ViewData["Title"] = "Gender View";
}

<div class="d-flex align-items-start justify-content-center" style="height: 50vh  ">
    <table class="table" style="width: 1000px"  dir="rtl">
        <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">TitleEn</th>
                <th scope="col">TitleFa</th>
                <th scope="col">Check</th>
                <th scope="col">Delet</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var gender in Model)
            {
                <tr>
                    <td>@gender.Code</td>
                    <td>@gender.TitleEn</td>
                    <td>@gender.TitleFa</td>
                    <td>@(gender.TitleFa != gender.TitleEn ? "Valid" : "NotValid")</td>
                    <td>
                        <button type="button" class="btn btn-danger" onclick="deleteGender(@gender.Code)">حذف</button>
                    </td>
                </tr>
            }

           
           
        </tbody>
    </table>
</div>

<script>
    function deleteGender(code) {
        if (confirm("آیا از حذف این  مطمئن هستید؟")) {
            fetch(`/Gender/Delete/${code}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('حذف موفق');
                    } else {
                        alert('شکست در حذف');
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    }
</script>