﻿@{
    ViewData["Title"] = "Search View";
}


<div style="width: 200px" class="input-group mb-3">
    <input id="01" type="number" class="form-control" placeholder="Code" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button onclick="searchData()" class="btn btn-primary" type="button">سرچ</button>
    </div>
</div>

<div class="d-flex align-items-start justify-content-center" style="height: 50vh;">
    <table class="table" style="width: 1000px" dir="rtl">
        <thead>
            <tr>
                <th  scope="col">Code</th>
                <th  scope="col">TitleEn</th>
                <th  scope="col">TitleFa</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th id="1" scope="col"></th>
                <th id="2" scope="col"></th>
                <th id="3" scope="col"></th>
            </tr>
        </thead>
    </table>
</div>

<script>
    function searchData() {
        var codeValue = document.getElementById('01').value;
        console.log(codeValue);

        fetch(`http://localhost:5031/Gender/GetByCode/${codeValue}`)
            .then(response => response.json())
            .then(genders => {
                console.log(genders)
                
                if (genders.length > 0) {
                    document.getElementById('1').innerText = genders[0].code;
                    document.getElementById('2').innerText = genders[0].titleEn;
                    document.getElementById('3').innerText = genders[0].titleFa;
                } else {
                    document.getElementById('1').innerText = 'NotFound';
                    document.getElementById('2').innerText = 'NotFound';
                    document.getElementById('3').innerText = 'NotFound';
                }
            })

            .catch(error => console.error('Error fetching data:', error));
    }
</script>
