﻿@{
    ViewData["Title"] = "PersonCreate";
}

<h1>PersonCreate</h1>

<div class="d-flex align-items-center justify-content-center" style="height: 90vh">
    <div class="rounded border border-primary d-inline-flex align-items-center justify-content-center" style="width: 400px; height: 650px">
        <form id="genderForm">
            <div class="mb-3">
                <label for="GenderCode" class="form-label">GenderCode</label>
                <input type="number" min="1" max="1000" class="form-control" id="GenderCode" name="GenderCode" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="FirstName" class="form-label">FirstName</label>
                <input type="text" class="form-control" id="FirstName" name="FirstName">
            </div>
            <div class="mb-3">
                <label for="LastName" class="form-label">LastName</label>
                <input type="text" class="form-control" id="LastName" name="LastName">
            </div>
            <div class="mb-3">
                <label for="NationalID" class="form-label">NationalID</label>
                <input type="text" class="form-control" id="NationalID" name="NationalID">
            </div>
            <div class="mb-3">
                <label for="PhoneNumber" class="form-label">PhoneNumber</label>
                <input type="number" class="form-control" id="PhoneNumber" name="PhoneNumber">
            </div>
            <div class="mb-3">
                <label for="BirthDate" class="form-label">BirthDate</label>
                <input type="date" class="form-control" id="BirthDate" name="BirthDate">
            </div>
            <div class="mb-3">
                <label for="Email" class="form-label">Email</label>
                <input type="email" class="form-control" id="Email" name="Email">
            </div>
            <button type="button" class="btn btn-primary" onclick="submitForm()">Submit</button>
        </form>
    </div>
</div>

<script>
    function submitForm() {
        var formData = {
            firstName: $('#FirstName').val(),
            lastName: $('#LastName').val(),
            genderCode: $('#GenderCode').val(),
            nationalID: $('#NationalID').val(),
            birthDate: $('#BirthDate').val(),
            phoneNumber: $('#PhoneNumber').val(),
            email: $('#Email').val(),
        };

        fetch(`http://localhost:5031/Gender/GetByCode/${formData.genderCode}`)
            .then(response => response.json())
            .then(genderData => {
               

                formData.gender = {
                    code: genderData[0].code,
                    titleEn: genderData[0].titleEn,
                    titleFa: genderData[0].titleFa
                };

                $.ajax({
                    url: '/Person/CreatePerson',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function (result) {
                        console.log('اطلاعات با موفقیت ارسال شد:', result.message);
                    },
                    error: function (error) {
                        console.error('خطا در ارسال اطلاعات:', error.responseText);
                    }
                });
            })
    }


</script>
