﻿
@{
    ViewData["Title"] = "SearchPerson";
}

<h1>SearchPerson</h1>

@{
    ViewData["Title"] = "Search";
}

@section Scripts {
    <script src="~/js/site.js"></script>
}

<div style="width: 200px" class="input-group mb-3">
    <input id="01" type="number" class="form-control" placeholder="Code" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button onclick="searchData()" class="btn btn-primary" type="button">سرچ</button>
    </div>
</div>

<div class="d-flex align-items-start justify-content-center" style="height: 50vh;">
    <table class="table" style="width: 1000px" dir="rtl">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">NationalID</th>
                <th scope="col">GenderCode</th>
                <th scope="col">PhoneNumber</th>
                <th scope="col">Email</th>
                <th scope="col">BirthDate</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th id="1" scope="col"></th>
                <th id="2" scope="col"></th>
                <th id="3" scope="col"></th>
                <th id="5" scope="col"></th>
                <th id="6" scope="col"></th>
                <th id="7" scope="col"></th>
                <th id="8" scope="col"></th>
                <th id="9" scope="col"></th>
            </tr>
        </thead>
    </table>
</div>

<script>
    function searchData() {
        var IDvalue = document.getElementById('01').value;

        fetch(`http://localhost:5031/Person/GetById/${IDvalue}`)
            .then(response => response.json())
            .then(people => {
                console.log(people[0])
               
                if (people.length > 0) {
                    document.getElementById('1').innerText = people[0].id;
                    document.getElementById('2').innerText = people[0].firstName;
                    document.getElementById('3').innerText = people[0].lastName;
                    document.getElementById('5').innerText = people[0].nationalID;
                    document.getElementById('6').innerText = people[0].genderCode;
                    document.getElementById('7').innerText = people[0].phoneNumber;
                    document.getElementById('8').innerText = people[0].email;
                    document.getElementById('9').innerText = people[0].birthDate;

                } else {
                    document.getElementById('1').innerText = 'NotFound';
                    document.getElementById('2').innerText = 'NotFound';
                    document.getElementById('3').innerText = 'NotFound';
                    document.getElementById('5').innerText = 'NotFound';
                    document.getElementById('6').innerText = 'NotFound';
                    document.getElementById('7').innerText = 'NotFound';
                    document.getElementById('8').innerText = 'NotFound';
                    document.getElementById('9').innerText = 'NotFound';

                }
            })

            .catch(error => console.error('Error fetching data:', error));
    }
    
</script>
