﻿

@{
    ViewData["Title"] = "View Person";
}

<div class="d-flex align-items-start justify-content-center" style="height: 50vh">
    <table class="table" style="width: 1000px " dir="rtl">
        <thead>
            <tr>
                <td scope="col">Row/Number</td>
                <th scope="col">ID</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">GenderCode</th>
                <th scope="col">NationalID</th>
                <th scope="col">PhoneNumber</th>
                <th scope="col">Email</th>
                <th scope="col">BirthDate</th>
                <th scope="col">Check</th>
                <th scope="col">Delete</th>
              
            </tr>
        </thead>
        <tbody>

            @foreach (var person in Model)
            {
                
                <tr>
                    <td>@person.Num</td>
                    <td>@person.ID</td>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>@person.GenderCode</td>
                    <td>@person.NationalID</td>
                    <td>@person.PhoneNumber</td>
                    <td>@person.Email</td>
                    <td>@person.BirthDate</td>
                    <td>@(person.NationalID.Length > 9 ? "Valid" : "NotValid")</td>

                    <td>
                        <button type="button" class="btn btn-danger" onclick="deleteGender(@person.ID)">حذف</button>
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>

<script>
    function deleteGender(id) {
        if (confirm("آیا از حذف این  مطمئن هستید؟")) {
            fetch(`/Person/Delete/${id}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('حذف موفق');
                    } else {
                        alert('شکست در حذف');
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    }
</script>